@tailwind base;
@tailwind components;
@tailwind utilities;

.active-tab {
  transition: transform 0.5s ease;
}

.active-tab:hover {
  transform: translateY(-10px);
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  width: 100%;
  gap: 2rem;
}
.add {
  word-wrap: break-word;
}
